@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&family=Source+Code+Pro&family=Space+Mono:wght@700&family=Tajawal&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* outline: 1px black solid; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Tajawal', sans-serif; */
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.674)), url(/imgs/elvis-presley-1482026.jpg)  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#logo{
    width: 151px;
    /* outline: 1px black solid; */
    margin: 2em 0;
}

.box{
    background-color: #2d2f32dc;
    width: 90%;
    text-align: center;
    margin: 5rem auto;
    padding: 5%  2rem;
    border-radius: .7em;
}

.boxpages{
    /* outline: 1px black solid; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: .2rem;
}

.boxpages a{
    /* outline: 1px black solid; */
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: .2em 0;
    border-bottom: 2px rgba(20, 191, 86, 0) solid;
}

.boxpages a:hover{
    /* border-bottom: 2px rgb(20, 191, 86) solid; */
    border-bottom-color: rgb(20, 191, 86);
    color: rgb(155, 153, 153);
}

form{
    display: grid;
    margin-top: 8%;
    width: 100%;
    gap: 25px;
}

form input{
    padding: 1em 1.5em;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2rem;
}

form input::placeholder{
    color: rgba(96, 129, 96, 0.534);
    font-size: 1em;
}

.checkbox{
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 4% 1.5em;
}

.checkbox p{
    font-size: 1em;
    color: white;
}

.signinbtn {
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(20, 191, 86);
    font-size: 1em;
}

.signinbtn:hover{
    color: rgb(201, 205, 205);
}

#forgotpassword{
    text-decoration: none;
    color: rgb(196, 195, 195);
    font-size: 1em;
}

#forgotpassword:hover{
    color: rgba(255, 255, 255, 0.963);
}

.mf{
    margin: 10% 0;
}

@media(min-width: 710px){

    body{
        overflow-y: hidden;
    }

    .box{
        width: 450px;
        margin: 4rem auto;
        padding: 1%  2rem;
    }
}

@media(min-height: 800px){
    .box{
        margin: 30% auto;
    }
}





